#sencha app build mode
#buildMode=testing

## LOCAL BUILD ##
# If all deployments are commented out then the localDeployment is done.


## DOCKER ##
dockerHost=
sshPassword=
dockerImageWorkspace=/jep/docker/docker-scotty
databaseRestoreDir=/jep/database/restore
databaseHostBackupDir=/jep/database/backup
databaseContainerBackupDir=/backup/mysql
##PRODUCTIVE SYSTEM project-customer-type
environment=
mysqlPassword=