#sencha app build mode
#buildMode=testing

## LOCAL BUILD ##
# If all deployments are commented out then the localDeployment is done.


## DOCKER ##
dockerHost=
sshPassword=
dockerImageWorkspace=/media/data/docker/docker-scotty
databaseRestoreDir=/media/data/database/restore
databaseHostBackupDir=/media/data/database/backup
databaseContainerBackupDir=/backup/mysql
##PRODUCTIVE SYSTEM project-customer-type
environment=
mysqlPassword=