[mysqld]
bind-address=0.0.0.0
#this is set in order to prevent the exception "ERROR 1419 (HY000): You do not have the SUPER Privilege and Binary Logging is Enabled" during dump load
log_bin_trust_function_creators=1